<div class="syntax-editor" {{>extra-attributes}}>
  {{#if ~/lines.length > 4}}<div class="line-nos">{{#each ~/lines}}{{.}}<br />{{/each}}</div>{{/if}}
  <div class="editor-pane">
    <code class="ast-nodes">
      <pre>{{>ast-node ast}}{{#if ast.end < src.length}}<span class="ast-fail">{{src.substring(ast.end, src.length)}}</span>{{/if}}{{#if src.length > 0 && src[src.length - 1] === '\n'}} {{/if}}</pre>
    </code>
    <textarea as-autosize class-expr-text {{#if primary}}id="expr-text"{{/if}} spellcheck="false" on-keydown="@.keydown(@event)">{{src}}</textarea>
  </div>
</div>

<template id="ast-node">
  <span class="{{.name}}">{{#if .children.length}}{{#each .children}}{{#if ^^/extra[@index]}}{{#with ^^/extra[@index]}}<span class="ast-extra">{{~/src.substring(this.0, this.1)}}{{/with}}{{/if}}{{>ast-node}}{{/each}}{{#if .extra[.children.length]}}{{#with .extra[.children.length]}}<span class="ast-extra">{{~/src.substring(this.0, this.1)}}{{/with}}{{/if}}{{else}}{{(~/src || '').substring(.start, .end)}}{{/if}}</span>
</template>

<template id="viewer">
  <div class="syntax-editor" {{>extra-attributes}}>
    <code class="ast-nodes">
      <pre>{{>ast-node ast}}{{#if ast.end < src.length}}<span class="ast-fail">{{src.substring(ast.end, src.length)}}</span>{{/if}}{{#if src.length > 0 && src[src.length - 1] === '\n'}} {{/if}}</pre>
    </code>
  </div>
</template>

<style rel=ractive>
  .syntax-editor {
    position: relative;
    min-height: 99%;
    color: {{@style.code.c1}};
    display: flex;
  }

  .syntax-editor > .line-nos {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: monospace;
    font-size: 0.85rem !important;
    line-height: 1rem !important;
    padding: 0.5rem !important;
    color: {{@style.fg}};
    background-color: {{@style.border}};
    border-right: 1px solid {{@style.dark}};
    text-align: right;
  }

  .syntax-editor > .editor-pane {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .ast-extra {
    color: {{@style.code.c1}};
  }

  .comment {
    color: {{@style.code.c14}};
  }

  .syntax-editor textarea {
    position: absolute;
    top: 0;
    font-family: monospace;
    color: transparent;
    background: transparent;
    caret-color: {{@style.fg}};
    min-height: 99%;
    overflow: hidden;
    resize: none;
    margin: 0 !important;
    padding: 0.5rem !important;
    line-height: 1rem !important;
    font-size: 0.85rem !important;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .syntax-editor code {
    padding: 0.5rem;
    font-family: monospace;
    display: block;
    box-sizing: border-box;
    min-height: 99%;
    overflow: hidden;
    line-height: 1rem;
    font-size: 0.85rem;
    min-height: 2rem;
  }

  .syntax-editor > .editor-pane > code > pre {
    word-break: break-all;
    white-space: pre-wrap;
    margin: 0 !important;
    padding: 0 !important;
  }

  .ast-nodes .reference {
    color: {{@style.code.c2}};
    font-weight: 500;
  }

  .ast-nodes .primitive,
  .ast-nodes .number,
  .ast-nodes .date,
  .ast-nides .timespan {
    color: {{@style.code.c3}};
    font-weight: 500;
  }

  .ast-nodes .format-op {
    color: {{@style.code.c4}};
  }

  .ast-nodes .string,
  .ast-nodes .string > .ast-extra {
    color: {{@style.code.c5}};
  }

  .ast-nodes .string > .string-interpolation {
    font-style: oblique;
  }

  .ast-nodes .binary-op > .ast-extra,
  .ast-nodes .conditional > .ast-extra {
    color: {{@style.code.c6}};
  }

  .ast-nodes .typelit,
  .ast-nodes .typelit > .ast-extra {
    color: {{@style.code.c7}};
  }

  .ast-nodes .typelit .type {
    color: {{@style.code.c9}};
    font-weight: 500;
  }

  .ast-nodes .typelit .key,
  .ast-nodes .typelit .literal {
    font-weight: 500;
    color: {{@style.code.c10}};
  }

  .ast-nodes .typelit .key {
    color: {{@style.code.c8}};
  }

  .ast-nodes .typelit .condition {
    font-weight: 700;
  }

  .ast-nodes .ast-fail {
    color: {{@style.code.c20}};
  }

  .ast-nodes .interpolator,
  .ast-nodes .each-block > .ast-extra,
  .ast-nodes .if-block > .ast-extra,
  .ast-nodes .unless-block > .ast-extra,
  .ast-nodes .case-block > .ast-extra,
  .ast-nodes .with-block > .ast-extra {
    font-weight: 600;
  }

  .ast-nodes .each-block > .ast-extra {
    color: {{@style.code.c11}};
  }

  .ast-nodes .case-block > .ast-extra,
  .ast-nodes .unless-block > .ast-extra,
  .ast-nodes .if-block > .ast-extra {
    color: {{@style.code.c12}};
  }

  .ast-nodes .with-block > .ast-extra {
    color: {{@style.code.c13}};
  }

  {{extra || ''}}
</style>
