<div class-raport-report as-trackfocus>
  {{>left}}
  <div class=layout on-keys('z', { ctrl: true })="@.undo(), true" on-keys('Z', { ctrl: true, shift: true })="@.redo(), true">
    <div class="design actions">
      <button disabled="{{report.type === 'delimited' && report.sources.length !== 1}}" on-click="@.run() && @.set('tab', 'result')" class-ico class-large>{{>play}}</button>
      <button on-click="@.set('tab', 'design')" class-tab class-active="tab !== 'result' && tab !== 'definition' && tab !== 'import' && tab !== 'project'">Designer</button>
      {{#if result}}
        <button on-click="@.set('tab', 'result')" class-tab class-active="tab === 'result'">Output</button>
      {{/if}}
      <button on-click="@.set('tab', 'definition')" class-tab class-active="tab === 'definition'">Definition</button>
      {{#if data && @.readLink('data')}}
        <button on-click="@.set('tab', 'import')" class-tab class-active="tab === 'import'">Import Data</button>
      {{/if}}
      {{#if data && tab === 'import'}}
        <span class-which><button class="ico" on-click="@.checkLink('import')">{{>times}}</button> Close Import</span>
      {{/if}}
      {{#if tab === 'result'}}<button class="ico text" on-click="@.download((~/report.name || 'report') + (~/report.type === 'delimited' ? '.csv' : '.html'), ~/result, ~/report.type === 'delimited' ? 'text/csv' : 'text/html')" title="Save output to a file">Save Output</button>{{/if}}
      {{#if ~/showProjects}}<button on-click="@.set('tab', 'project')" class-tab class-right class-active="tab === 'project'">Project</button>{{/if}}
    </div>
    <div class-tab class-designer class-active-tab="tab !== 'result' && tab !== 'definition' && tab !== 'import' && tab !== 'project'">
      {{>design}}
    </div>
    <div class-tab class-report-definition class-active-tab="tab === 'definition'">
      {{>definition}}
    </div>
    <div class-tab class-data-import class-active-tab="tab === 'import'">
      {{>data-import}}
    </div>
    <div class-result class-tab class-active-tab="tab === 'result'">
      <iframe id=result srcdoc="{{~/report.type === 'delimited' ? '<style>pre { margin: 1rem; background-color: #fff; padding: 0.5rem; }</style><code><pre>' + result + '</pre></code>' + @.frameExtra() : result}}"></iframe>
    </div>
    {{#if ~/showProjects}}
      <div class-project class-tab class-active-tab="tab === 'project'">
        {{>project}}
      </div>
    {{/if}}
    <div class-bottom-pane class-active="~/temp.bottom.pop">
      {{>bottom}}
    </div>
  </div>
  <div style="position: absolute; left: -1000px; width: 1rem; height: 1rem;" id="sizer" />
  <div style="position: absolute; left: -1000px; width: 5rem; height: 5rem; overflow: auto;">
    <textarea id="text-helper" style="padding: 0.5em;" />
  </div>
</div>

<template id="left" src="./Report/left.ractive.html" />
<template id="design" src="./Report/design.ractive.html" />
<template id="definition" src="./Report/definition.ractive.html" />
<template id="data-import" src="./Report/import.ractive.html" />
<template id="project" src="./Report/project.ractive.html" />
<template id="bottom" src="./Report/bottom.ractive.html" />

<template id="types">
  <option>any</option>
  <option>string</option>
  <option>number</option>
  <option>boolean</option>
  <option>date</option>
  <option>array</option>
  <option>object</option>
  <option>string[]</option>
  <option>number[]</option>
  <option>boolean[]</option>
  <option>date[]</option>
  <option>object[]</option>
</template>

<template id="widget-props" src="./Report/widget-props.ractive.html" />

<style rel=ractive>
  h3 {
    padding: 0.5rem;
    margin: 0;
  }

  button.plain {
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 0.2em;
    padding: 0 1.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
    transition-property: box-shadow, opacity, background-color;
    font-size: 0.7em;
    line-height: 1.5em;
    background-color: {{@style.active}};
    color: {{@style.btntxt}};
    vertical-align: middle;
    min-height: 2.25em;
    outline: 0;
    margin: 0.25em;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    font-family: inherit;
  }
  button.plain:hover {
    background-color: {{@style.hover}};
  }

  button.ico {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.1rem;
    box-sizing: content-box;
    color: {{@style.fg}};
  }

  button.ico svg {
    fill: {{@style.fg}};
  }

  button.ico.text {
    width: auto;
  }

  button.hide {
    border: none;
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
  }

  button.ico:hover svg {
    fill: {{@style.hover}};
  }
  button.ico:hover {
    color: {{@style.hover}};
  }

  button.ico svg.pencil {
    stroke: {{@style.fg}};
    fill: none;
  }
  button.ico:hover svg.pencil {
    stroke: {{@style.hover}};
    fill: none;
  }

  button.ico.large {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0 0.5rem;
  }
  .properties button.ico.large {
    line-height: 1.5rem;
  }

  button.ico:disabled {
    color: {{@style.border}};
    cursor: default;
  }

  span.which {
    flex-grow: 1;
    line-height: 2em;
    display: flex;
    align-items: center;
  }

  .raport-report {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    color: {{@style.fg}};
    background-color: {{@style.bg}};
  }

  button.add {
    width: 2rem;
    height: 2rem;
    line-height: 1em;
    text-align: center;
    border-radius: 2rem;
    background-color: {{@style.active}};
    color: {{@style.btntxt}};
    margin: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.2s ease-in-out;
  }
  button.add:hover {
    background-color: {{@style.hover}};
  }

  select {
    padding: 0.2rem;
    border-style: solid;
    border-width: 0 0 1px 0;
    background: none;
    color: {{@style.fg}};
  }

  .layout {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 1;
    margin: 0 0.5em;
    box-sizing: border-box;
    overflow: hidden;
  }

  .layout > .tab {
    background-color: {{@style.dark}};
  }

  .editor > .tab, .layout > .tab {
    flex-grow: 10;
    flex-shrink: 1;
    overflow: hidden;
    max-height: 0;
  }

  .editor > .active-tab, .layout > .active-tab {
    max-height: none;
  }

  .designer {
    display: flex;
    flex-direction: column;
  }

  .spacer {
    margin-right: 3em;
  }

  .layout .actions {
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .layout .actions .tab {
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0 0.5em;
    background-color: {{@style.border}};
    color: {{@style.fg}};
    border-style: solid;
    border-width: 1px 1px 0 1px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-color: {{@style.border}};
  }
  .layout .actions .tab:first-of-type {
    margin-left: 0;
  }

  .layout .actions .tab.right {
    margin-left: auto;
  }
  .layout .actions.design .tab {
    background-color: {{@style.bg}};
    border-color: {{@style.border}};
    color: {{@style.fg}};
  }

  .layout .actions .tab.active {
    background-color: {{@style.dark}};
    color: {{@style.btntxt}};
    border: none;
    border-top: 2px solid {{@style.highlight}};
    margin-bottom: -1px;
  }

  .layout .bottom-pane .actions .tab {
    line-height: 1.3rem;
  }
 
  .layout .bottom-pane .actions .tab.active {
    background-color: {{@style.bg}};
    border-color: {{@style.border}};
    color: {{@style.fg}};
    margin-bottom: -2px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: {{@style.bg}};
  }

  .layout .bottom-pane .actions button.error {
    color: {{@style.error}};
  }
  .layout .bottom-pane .actions button.error svg {
    fill: {{@style.error}};
  }
  .layout .bottom-pane .actions .tab.error {
    border-color: {{@style.error}};
    color: {{@style.fg}};
    background-color: {{@style.error}};
  }

  .layout .bottom-pane .actions .tab.active.error {
    background-color: {{@style.bg}};
    color: {{@style.error}};
    border-bottom-color: {{@style.bg}};
  }

  .layout .bottom-pane {
    height: 2.25rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-top: 0.5rem;
    box-sizing: border-box;
  }

  .layout .bottom-pane.active {
    height: 33vh;
    border-top: 1px solid {{@style.border}};
    color: {{@style.fg}};
    background-color: {{@style.bg}};
  }

  .result {
    display: flex;
    flex-grow: 2;
    color: {{@style.fg}};
    background-color: {{@style.bg}};
  }

  iframe {
    display: block;
    border: none;
  }

  .bar {
    height: 2rem;
    background-color: {{@style.dark}};
    color: {{@style.fg}};
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    border-bottom: 1px solid {{@style.border}};
    box-sizing: border-box;
    padding: 0 0.25rem;
    user-select: none;
    transition: background-color 0.2s ease-in-out;
  }

  .bar * {
    margin: 0 0.5em 0 0;
  }

  .bar .name {
    color: {{@style.btntxt}};
  }

  .bar button, .bar .btn {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: inherit;
    padding: 0 0.5em;
  }

  .bar select {
    background: none;
    border: none;
    color: #fff;
    height: 1rem;
    font-size: 0.6rem;
    padding: 0;
  }

  div.widgets {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    height: min-content;
    width: calc(100% + 3px);
    left: -1.5px;
    background-image: radial-gradient(circle, {{@style.dark}} 1px, transparent 1px);
    background-position: 1.5rem 1.5rem;
    background-size: 1rem 1rem;
  }

  div.widgets.manual {
    display: inline-block;
  }

  div.widget {
    cursor: pointer;
    display: block;
    border: 1px dotted rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: 0.83rem;
    position: relative;
  }

  div.widgets.manual > .widget {
    float: left;
  }
  div.widgets.manual > .active-widget {
    cursor: move;
  }

  div.widgets {
    background-color: {{@style.bg}};
  }
  div.widget:hover {
    z-index: 1000;
  }

  div.active-widget {
    border-color: {{@style.active}};
    border-style: solid;
    background-color: {{@style.active}}20;
    user-select: none;
    z-index: 999;
  }
  div.active-widget > .widgets {
    background-image: linear-gradient(to top, {{@style.active}}20, {{@style.active}}20), radial-gradient(circle, {{@style.dark}} 1px, transparent 1px);
  }

  div.hover-widget {
    border-color: {{@style.hover}};
    border-style: solid;
    background-color: {{@style.hover}}20;
  }
  div.hover-widget > .widgets {
    background-image: linear-gradient(to top, {{@style.hover}}20, {{@style.hover}}20), radial-gradient(circle, {{@style.dark}} 1px, transparent 1px);
  }

  .active-widget > .bar, .bar.active {
    background-color: {{@style.active}};
  }

  .hover-widget > .bar, .bar.hover {
    background-color: {{@style.hover}};
  }

  .widget > .btn {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 0.2rem;
    width: 0.9rem;
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    font-size: 0.7rem;
    z-index: 10;
  }
  .widget > .preview.btn {
    right: 1.2rem;
  }
  .widget > .autosize.btn {
    right: 2.3rem;
  }

  .widget > .btn > svg {
    width: 100%;
    height: 100%;
  }
  .widget > .btn > svg path, .widget > .btn > svg circle {
    fill: {{@style.fg}};
  }

  .widget:hover > .btn {
    opacity: 1;
  }

  .label, .html {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .html .preview {
    font-size: 0.83rem;
    line-height: 1rem;
    white-space: normal;
    word-break: break-all;
    display: block;
  }

  .widget.image .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
  }

  .widget > .content {
    display: block;
    height: 100%;
  }

  .sheet .toggles {
    margin-bottom: 0.5rem;
  }

  .toggle {
    font-size: 0.6rem;
    border: 1px dotted;
    padding: 0.2rem;
    border-radius: 0.2rem;
    display: inline-block;
    margin: 0.1em;
    line-height: 0.8rem;
    color: {{@style.fg}};
    cursor: pointer;
  }

  .toggle.active {
    border: 1px solid;
    color: {{@style.highlight}};
  }

  .sides {
    display: flex;
    flex-wrap: wrap;
    width: 12rem;
    margin: 0.5rem;
  }

  .properties .sheet .sides > input {
    width: 3rem;
    margin: 0.5rem 0.5rem;
    box-sizing: border-box;
    color: {{@style.fg}};
    background: transparent;
  }
  
  .sides .square {
    width: 4rem;
    height: 4rem;
    background-color: {{@style.active}};
    border: 1px solid;
    box-sizing: border-box;
  }
  
  .sides span {
    width: 4rem;
    height: 0.1rem;
    display: inline-block;
  }

  .shrinky {
    flex-shrink: 1000;
    flex-grow: 1;
  }
  .growy {
    flex-grow: 100;
    flex-shrink: 1;
  }

  .scrolled-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 4em;
    display: flex;
    flex-direction: column;
  }
  .scrolled {
    height: 100%;
    overflow: auto;
  }
  .scrolled:before, .scrolled:after {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 5px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  .scrolled:before {
    top: -5px;
  }
  .scrolled:after {
    bottom: -5px;
  }
  .scrolled.scroll-top:before {
    opacity: 0;
    transition: opacity 0s linear;
  }
  .scrolled.scroll-bottom:after {
    opacity: 0;
    transition: opacity 0s linear;
  }
</style>
